.image{
    height: 130px;
    border-radius: 5px;
    object-fit: contain;
    margin-right: 5px;
    margin-left: 5px;
}
.props{
    max-width:200px;
    margin-top:80px;
    width: 200px;
    word-wrap:break-word;
    
}
.dip{
    max-width: 231px;
    height: 130px;
    width: 231px;
    color: brown;
    word-wrap:break-word;
    text-align: center;

    
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
p{
    max-width:200px;
    word-wrap:break-word;
}

