@import "../Row/Row.css";

.image{
    height: 130px;
    border-radius: 5px;
    object-fit: contain;
    margin-right: 5px;
    margin-left: 5px;
}

.iframe:hover {
    height:200px ;
    transform: translate3D(-1px,-1px,-1px) scale(1.3);
    box-shadow: 0px 0px 5px #fff;

  }

  .row_card:hover {
    white-space: nowrap; 
    display: flex;
    align-items: center;
    height: 200px;
    color: #fff;
    overflow-x: scroll;
}


  

