.logo{
    height: 3.5rem;
}
nav{
    color: black;
    height: 8vh;
    width: 100vw;
    position: fixed;
    font-size: 0.9rem;
    background-color: black;

}
.navleft{
    display: flex;
    width: 85%;

}
.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navlinks a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 0.8rem;
    transition: 0.6s ease;
}

.navlinks  :hover{
    color: rgb(135, 135, 135);
}

section{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;


}

.navright {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.navright a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.navright :hover{
    color: rgb(135, 135, 135);
    transition: 0.6s ease;
}